html {
    font-family: Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

nav > ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 10vh;
}

nav > ul li {
    flex: 1;
}

nav > ul li a {
    text-decoration: none;
    color: darkgreen;
}

h1 {
    padding-right: 20rem
}

main {

    border: solid 1px black;
    display: flex;
    height: 90vh;
}

.inventory {
    flex: 1;
    background-color: gray;
}

.inventory h2 {
    font-size: 15px;
    padding: 1rem;
}

.pääikkuna {
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
}

#pelaajanimi {
    position: absolute;
    top: 10%;
    left: 15%;
}

.pääikkuna > .map {
    background-color: #ffe5ea;
    width: 50%;
    height: 50%;
    text-align: center;
    line-height: 20rem;
}

.infopalkki {
    flex: 1;
    background-color: lavenderblush;
}

.infopalkki h2, .infopalkki p {
    margin-left: 1rem;
}