:root {
    --color1: #D9ED92;
    --color2: #B5E48C;
    --color3: #99D98C;
    --color4: #76C893;
    --color5: #52B69A;
    --color6: #34A0A4;
    --color7: #168AAD;
    --color8: #1A759F;
    --color9: #1E6091;
    --color10: #184E77;
}

html {
    font-family: Verdana, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

nav > ul {
    display: flex;
    align-items: center;
    height: 10vh;

    list-style-type: none;
}

nav > ul li {
    flex: 1;
}

.napit {
    display: flex;
    width: 30%;
}

.napit a {
    text-decoration: none;
    color: var(--color10);
}

h1 {
    margin-right: 20rem;
}

main {

    border: solid 1px black;
    display: flex;
    height: 80vh;
}

.inventory {
    flex: 1;

    background-color: var(--color7);
    border: solid 1px black;
}

.inventory h2 {
    font-size: 15px;
    padding: 1rem;
}

.inventory ul li {
    line-height: 3rem;
}

.pääikkuna {
    flex: 6;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color5);
    border: solid 1px black;
}


#pelaajanimi {
    position: absolute;
    top: 10%;
    left: 15%;
}

.pääikkuna > .map {
    background-color: #ffe5ea;

    width: 50%;
    height: 50%;

    text-align: center;
    line-height: 20rem;
}

.infopalkki {
    flex: 1;

    background-color: var(--color7);
    border: solid 1px black;
}

.infopalkki h2, .infopalkki p {
    margin-left: 1rem;
}

footer {
    height: 10vh;

    background-color: floralwhite;
}